.App {
  text-align: center;
}

.header-logo {
  height: 300px;
  margin-top: 40px;
}

.header-text {
  font-size: 35px;
  margin: 23px;
  color: white;
}

.header-description {
  color: white;
  font-size: 18px;
  margin: 15px;
  margin-bottom: 50px;
}

.google-sign-in-button {
  margin: auto;
}
